# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Secrets (VERY IMPORTANT)
.env

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# Logs
*.log